/Minesweeper/.idea/
/Minesweeper/out/
/Minesweeper/*.iml

/GameOfLife/.settings/
/GameOfLife/.vscode/
/GameOfLife/target/
/GameOfLife/src/test/
/GameOfLife/.classpath
/GameOfLife/.project

/SortingAlgorithms/
/SortingAlgorithms/.idea/
/SortingAlgorithms/out/
/SortingAlgorithms/*.iml