/Minesweeper/.idea/
/Minesweeper/out/
/Minesweeper/*.iml

/GameOfLife/.settings/
/GameOfLife/.vscode/
/GameOfLife/target/

/SortingAlgorithms/
/SortingAlgorithms/.idea/
/SortingAlgorithms/out/
/SortingAlgorithms/*.iml